h1{
    padding-left: 67px;
    margin-top: 60px;
    font-size: 27px;
    color: #464748;
    text-transform: uppercase;
}
.calculate-form {
    width: 460px;
    height: 100px;
    padding: 0px 60px 40px 60px;
}
input.numbers{
	height: 42px;
    width: 120px;
    float: left;
    display: inline-block;
    margin: 20px 0px;
    padding: 10px 20px;
    border: 1px solid #2d598066;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 18px;
}
select.operations{
    width: 66px;
    height: 64px;
    float: left;
    margin: 20px 5px;
    padding:5px 0 0 10px;
    background-color: #4ACACA;
    border: 1px solid #4ACACA;
    font-size: 36px;
    color: #fff;
}
input.submit_form {
	height: 62px;
    width: 400px;
    display: inline-block;
    padding-top: 5px;
    background-color: #f82727;
    border: 1px solid #f82727;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    box-shadow: 1px 5px 10px 5px rgb(245, 21, 107) inset;
}
div.answer-text, div.error-text{
	margin-top: 50px;
	padding-left: 65px;
    font-size: 28px;
}
div.answer-text{
	color: #2e2e2f;
}
div.error-text{
	color:red;
}